#main {
    height: 2700px;
}

section#main > h2 {
    font-family: 'Raleway regular', sans-serif;
    font-size: 3.3em;
    color: #cd1946;
}

section#main > p {
    font-family: 'Raleway regular', sans-serif;
    font-size: 1.5em;
    text-align: left;
    width: 20%;
    margin-top: -65px;
}

section#main > .circle {
    background-color: #fff;
    border: 1px solid #cd1946;
    height: 40px;
    border-radius: 50%;
    width: 40px;
}

section#main > .circle > span {
    margin: 0;
    position: relative;
    font-family: 'Raleway regular', sans-serif;
    color: #cd1946;
    font-size: 1.2em;
    margin-left: 35%;
    top: 17%;
}

section#main > .form {
    width: 100%;
    margin-left: 8.33%;
}

section#main > .form > span {
    margin: 0;
    position: relative;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.5em;
    top: -37px;
}

section#main > .form > span#gegevens {
    top: 35px;
    font-size: 1em;
}

section#main > .form > figure {
    margin: 0;
}

section#main > .form > figure > img {
    margin: 0;
    display: inline;
    width: 275px;
    height: auto;
    cursor: pointer;
    max-width: 28%;
}

section#main > .form > figure > img:hover {
    filter: brightness(1.5);
}

section#main > .form > figure > img#google {
    float: right;
    margin-right: 41.66%;
}

section#main > .form > form {
    margin-top: 100px;
}

section#main > .form > form > input {
    display: block;
    width: 58.33%;
    height: 50px;
    margin-bottom: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    padding: 10px;
}

section#main > .form > form > input:active {
    border-color: red;
    border-width: 10px;
}

section#main > .form > form > input#naam {
    background: url(../_imgs/Reserveren/contact.png) no-repeat scroll 98% 13px;
    background-size: 25px;
}

section#main > .form > form > input#mail {
    background: url(../_imgs/Reserveren/mail.png) no-repeat scroll 98% 13px;
    background-size: 25px;
}

section#main > .form > form > input#tel {
    background: url(../_imgs/Reserveren/phone.png) no-repeat scroll 98% 13px;
    background-size: 25px;
}

section#main > #circle2 {
    margin-top: 100px;
}

form > span {
    margin: 0;
    padding: 0;
    position: relative;
    top: -65px;
    float: right;
    margin-right: 8.33%;
    font-family: 'Roboto light', sans-serif;
    font-size: .9em;
    color: red;
}

section#stoelen > span {
    margin: 0;
    position: relative;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.5em;
    top: -37px;
    margin-left: 8.33%;
}

section#stoelen > table {
    margin-left: 8.33%;
    width: 58.33%;
    border-spacing: 5px 5px;
}

section#stoelen > table > tbody > tr > td {
    width: auto;
    height: 50px;
    background-color: #7efeb7;
    cursor: pointer;
    border-spacing: 10px;
    border-collapse: separate;
    border-radius: 5px;
}

section#stoelen > table > tbody > tr > td.wit {
    background-color: white;
    cursor: auto;
}

section#stoelen > table > tbody > tr > td:hover {
    filter: brightness(.8)
}

section#stoelen > table > tbody > tr > td.stoelRed:hover {
    filter: none;
    cursor: auto;
}

section#stoelen > table > tbody > tr > td.wit:hover {
    filter: none;
}

section#stoelen > table > tbody > tr > td.stoelSelected {
    background-image: url(../_imgs/Reserveren/check.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #7edafe;
}

section#stoelen > table > tbody > tr > td.stoelRed {
    background-color: #fe7e7e;
}

section#stoelen > .podium {
    margin: 0;
    margin-left: 8.33%;
    margin-top: 50px;
    width: 58.33%;
    height: 80px;
}

section#stoelen > .podium > h3 {
    margin: 0;
    padding: 0;
    top: 60px;
    text-align: center;
    position: relative;
    font-family: 'Roboto thin', sans-serif;
    font-size: 1em;
    color: white;
}

section#stoelen > .podium > .rechthoek {
    margin: 0 auto;
    width: 75%;
    height: 100%;
    background-color: lightgrey;
}

section#stoelen > .podium > .cirkel {
    margin: 0 auto;
    margin-top: -130px;
    width: 500px;
    height: 75px;
    background-color: white;
    border-radius: 300px / 50px;
}

#circle3 {
    margin-top: 120px;
}

section#bevestiging > span {
    margin: 0;
    position: relative;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.5em;
    top: -37px;
    display: block;
    margin-left: 8.33%;
}

section#bevestiging > p {
    margin: 0;
    padding: 0;
    text-decoration: none;
    display: inline;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.2em;
    line-height: 2em;
}

section#bevestiging > p#col1 {
    float: left;
    text-align: right;
    margin-left: 8.33%;
    color: #cd1946;
    font-weight: 800;
}

section#bevestiging > p#col2 {
    position: relative;
    left: 50px;
}

section#bevestiging > p#col3 {
    position: absolute;
    margin-top: -269px;
    margin-left: 550px;
    font-style: italic;
}

#circle4 {
    margin-top: 100px;
}

section#betalen > span {
    margin: 0;
    position: relative;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.5em;
    top: -37px;
    display: block;
    margin-left: 8.33%;
}

#betalen > form {
    position: relative;
    margin-left: 8.33%;
    margin-top: 100px;
}

#betalen > #betaalbuttons > div {
    position: absolute;
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-top: 29px;
    margin-left: 82px;
    width: 150px;
    height: 150px;
    background-color: #f8f8f8;
    border: 2px solid #c4c4c4;
    border-radius: 15px;
    background-repeat: no-repeat;
    background-position: center;
}

#betalen > #betaalbuttons > div#ideal {
    background-image: url(../_imgs/Reserveren/ideal.png);
    background-size: 50px;
}

#betalen > #betaalbuttons > div#paypal {
    background-image: url(../_imgs/Reserveren/paypal.png);
    background-blend-mode: multiply;
    background-size: 100px;
    margin-left: 275px;
}

#betalen > #betaalbuttons > div#bitcoin {
    background-image: url(../_imgs/Reserveren/bitcoin.png);
    background-size: 50px;
    margin-left: 465px;
}

#betalen > #betaalbuttons > div#later {
    width: 250px;
    margin-left: 655px;
}

#betalen > #betaalbuttons > p {
    margin: 0;
    position: absolute;
    font-family: 'Roboto light', sans-serif;
    font-size: 1em;
    text-align: center;
    margin-left: 700px;
    margin-top: 80px;
}

#betalen > form > div {
    position: relative;
    display: inline;
}

#betalen > form > div > input[type=radio] {
    margin: 0;
    padding: 0;
    transform-origin: left;
    transform: scale(12);
    margin-right: 175px;
    opacity: 0;
}

#betalen > form > div > input[value=later] {
    transform: scale(20, 12);
}

a#volgendeButton {
    display: block;
    margin: 0 auto;
    line-height: 2.5em;
    padding: 0;
    margin-top: 200px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    border-radius: 25px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    background-color: #cd1946;
    width: 175px;
    height: 50px;
}

section#betalen > #betaalSpan {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 2430px;
    margin-left: 85px;
    font-size: 1em;
    color: #cd1946;
}

section#main > hr {
    margin-top: -10px;
    width: 100%;
    color: #c4c4c4;
    height: 1px;
}

section#main > h2#reserveren2 {
    position: relative;
    margin-top: 75px;
}

section#main > .bevestiging {
    margin: 0;
    margin-left: -93px;
}

img#printicon {
    position: relative;
    margin: 0;
    height: 50px;
    width: auto;
    float: right;
    margin-right: 45%;
    margin-top: -75px;
}

section#main > hr#rule2 {
    margin-top: 50px;
    color: #c4c4c4;
    width: 85%;
    height: 0.5px;
}

section#sharingiscaring > h2 {
    position: relative;
    margin-top: 70px;
    font-family: 'Roboto light', sans-serif;
    font-size: 1.5em;
}

section#sharingiscaring > #socialWrapper {
    position: relative;
    margin-top: 50px;
}

#socialWrapper > a {
    text-decoration: none;
    color: white;
    font-family: 'Roboto thin', sans-serif;
    font-size: 1.3em;
    background-color: grey;
    padding: 8px 50px 8px 50px;
    margin-right: 38px;
    background-repeat: no-repeat;
    background-size: 18px;
    background-position: 10px;
}

#socialWrapper > a:hover {
    filter: contrast(1.5);
}


#socialWrapper > a:nth-child(1) {
    background-color: #3b5a93;
    background-image: url(../_imgs/Reserveren/fb2.png);
}

#socialWrapper > a:nth-child(2) {
    background-color: #62d560;
    background-image: url(../_imgs/Reserveren/whatsapp.png);
}

#socialWrapper > a:nth-child(3) {
    background-color: #07ade9;
    background-image: url(../_imgs/Reserveren/twitter-512.png);
    background-size: 20px;
}

#socialWrapper > a:nth-child(4) {
    background-color: #cf453b;
    background-image: url(../_imgs/Reserveren/googleplus.png);
}

#socialWrapper > a:nth-child(5) {
    background-color: #cd1946;
    background-image: url(../_imgs/Reserveren/mailicon.png);
}

section#sharingiscaring > hr#rule3 {
    margin-top: 75px;
    border: none;
    border-top: 1px solid #c4c4c4;
}


/* vanaf hier een stuk voor de 3 voorstellingen */

section#voorstellingen {
    position: relative;
    width: 100%;
    height: 760px;
    margin-top: 100px;
}

section#voorstellingen > h3 {
    position: relative;
    font-family: 'Raleway light', sans-serif;
    font-size: 1.5em;
    color: black;
    text-align: center;
    top: 18px;
}

section#voorstellingen > .figureWrapper > div {
    position: relative;
    display: inline;
}

section#voorstellingen > .figureWrapper {
    position: relative;
    margin: 0 auto;
    width: 1028px;
    margin-top: 120px;
}

section#voorstellingen > .figureWrapper > div {
    position: relative;
    margin: 0;
    width: 300px;
    height: 450px;
    background-color: darkgrey;
    overflow: hidden;
    display: inline-block;
    margin: 0 20px 0 20px;
}

section#voorstellingen > .figureWrapper > div#productie3 {
    background-image: url(../_imgs/figuresPage2/vrede.png);
    background-size: cover;
}

section#voorstellingen > .figureWrapper > div#productie2 {
    background-image: url(../_imgs/figuresPage2/zouthuis.png);
    background-size: cover;
}

section#voorstellingen > .figureWrapper > div#productie1 {
    background-image: url(../_imgs/figuresPage2/zucht.png);
    background-size: cover;
}

section#voorstellingen > .figureWrapper > div:hover {
    background-color: #cd1946;
    background-blend-mode: lighten;
    transform: scale(1.1);
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.3);
    transition: all 500ms;
    cursor: pointer;    
}

section#voorstellingen > .figureWrapper > div:hover > h3 {
    margin-left: -110px;
    margin-top: 10px;
    top: 20px;
}

section#voorstellingen > .figureWrapper > div#productie2:hover > h3 {
    margin-left: 0px;
    margin-top: 20px;
    top: 20px;
    font-size: 2.35em;
}

section#voorstellingen > .figureWrapper > div:hover > p {
    opacity: 1;
}

section#voorstellingen > .figureWrapper > div > h3 {
    position: relative;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-size: 2.5em;
    text-align: center;
    top: 160px;
    font-weight: 700;
    transition: all 500ms cubic-bezier(0.165, 0.840, 0.440, 1.000);
    /* easeOutQuart */
}

section#voorstellingen > .figureWrapper > div > p {
    position: relative;
    font-family: 'Roboto light', sans-serif;
    color: white;
    font-size: 1em;
    text-align: justify;
    margin: 0px 40px 0 40px;
    opacity: 0;
}


/* Dat was het stuk van die ene secties */

a#homie {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 280px;
    padding-top: 18px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    font-family: 'Roboto light', sans-serif;
    text-transform: uppercase;
    font-size: 1.4em;
    color: #cd1946;
    border: 3px solid #cd1946;
    border-radius: 50px;
}

a#homie:hover {
    color: white;
    background-color: #cd1946;
}